
/target/classes
/target/test-classes
/vagrant/Manual_provisioning_WinMacIntel/.vagrant
.vscode/settings.json
target/jacoco.exec
target/maven-archiver/pom.properties
target/site
target/surefire-reports
target/vprofile-v2/resources
target/vprofile-v2/WEB-INF
target/vprofile-v2.war
target/maven-status
/terraform/.terraform
*.hcl
